/* RESET */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* MOBILE */
/* Hamburger */
header {
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 10px 20px;
}

.menu-btn {
  position: fixed;
  right: 0;
  padding: 10px 0;
  cursor: pointer;
  z-index: 2;
}

.show .menu-btn {
  right: 0;
}

.menu-bars {
  margin-right: 20px;
}

.bar,
.bar::before,
.bar::after {
  width: 40px;
  height: 5px;
  background-color: gray;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.bar::before,
.bar::after {
  content: " ";
  position: absolute;
  top: -10px;
  left: 0;
}

.bar::after {
  position: absolute;
  top: 10px;
}

.show .bar {
  background-color: transparent;
  z-index: 2;
}

.show .bar:before {
  top: 0;
  transform: rotate(45deg);
}

.show .bar:after {
  top: 0;
  transform: rotate(-45deg);
}

/* Menu display */
nav {
  position: fixed;
  margin-left: 30%;
  width: 0;
  top: 0px;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  visibility: hidden;
}

.show nav {
  transition: width 0.3s ease;
  animation-direction: unset;
  visibility: visible;
  width: 70%;
  right: 0;
}

nav ul {
  padding-top: 57px;
  width: 100%;
  height: 100%;
  list-style: none;
}

nav li {
}

nav li a {
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: white;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* DESKTOP */
/* media size depends on width of nav */
@media (min-width: 660px) {
  header {
    flex-wrap: nowrap;
  }

  .logo {
  }

  .menu-btn {
    display: none;
  }

  nav {
    visibility: visible;
    width: inherit;
    height: 100%;
    background-color: transparent;
    padding-right: 20px;
    margin-left: 0;
    position: static;
    left: 0;
  }

  nav ul {
    display: flex;
    padding-top: 0px;
  }

  nav li a {
    padding: 10px;
    color: gray;
  }

  nav li a:hover {
    color: hotpink;
    background-color: transparent;
  }
}
